<form [formGroup]="addUserForm" (ngSubmit)="onSubmit()" fxLayout="column">
  <h3>USER DETAILS</h3>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="user_detail_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput type="text" formControlName="user_detail_username">
  </mat-form-field>

  <h3>ADDRESS</h3>
  <mat-form-field>
    <mat-label>Select City</mat-label>
    <mat-select (value) = "selectedCity">
      <mat-option *ngFor="let city of cities" [value]="city">{{city}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Street</mat-label>
    <input matInput type="text" formControlName="user_address_street">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Suite</mat-label>
    <input matInput type="text" formControlName="user_address_suite">
  </mat-form-field>

  <h3>COMPANY</h3>
  <mat-form-field>
    <mat-label>Company Name</mat-label>
    <input matInput type="text" formControlName="user_company_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Company bs</mat-label>
    <input matInput type="text" formControlName="user_company_bs">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Company Catch Phrase</mat-label>
    <input matInput type="text" formControlName="user_company_cs">
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-button type="submit" [disabled]="!addUserForm.valid">Submit</button>
  </div>
</form>
